# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My folder\lab_j10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
